header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 3px solid black;
  background-color: skyblue;
  margin: 0 140px 0px 140px;
}

img {
  width: 350px;
}

h1 {
  text-align: end;
  padding: 5px;
}

body {
  background-color: lavender;
  font-family: monospace;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 140px 0px 140px;
}
