body {
background-color: rgb(230, 230, 250);
font-family: monospace;
}
header {
    width: 75%;
    color: skyblue;
}

@media screen and (max-width: 500px) {
    #reviews {
        display: none
    }
}
